@use 'global' as *;

.accordion {
    border: rem(1) solid $black3;
}

.accordion__q {
    padding: rem(18) rem(30) rem(18) rem(27);
    position: relative;
    transition: all .3s ease 0s;
    cursor: pointer;
    
    @include mq() {
        padding: rem(8) rem(11);
    }
}

.accordion__q.js-open {
    transition: all .3s ease 0s;
}

.accordion__q p {
    padding-left: calc(rem(25) + rem(44));
    font-size: rem(20);
    font-weight: $semi-bold;
    color: $red;
    line-height: calc(28 / 20);
    position: relative;

    @include mq() {
        font-size: rem(14);
        line-height: calc(20 / 14);
        padding-left: calc(rem(15) + rem(16));
    }
}

//矢印
.accordion__q p::before,
.accordion__q p::after {
    content: "";
    background-color: $black2;
    width: rem(5);
    height: rem(25);
    border-radius: rem(5);
    position: absolute;
    top: rem(3);
    left: 0;
    transition: all .3s ease 0s;
    
    @include mq() {
        width: rem(4);
        height: rem(15);
        top: rem(3);
    }
}

.accordion__q p::after {
    transform: rotate(90deg);
}

.accordion__q.js-open p::before {
    transform: rotate(45deg);
}

.accordion__q.js-open p::after {
    transform: rotate(-45deg);
}

.accordion__a {
    display: none;
    padding: 0 rem(30) rem(24);
    
    @include mq() {
        padding: 0 rem(8) rem(8);
    }
}

.accordion__a.js-open {
    display: block;
}

.accordion__a p {
    font-size: rem(18);
    line-height: calc(29 / 18);
    padding: rem(11) rem(30);
    background-color: $gray1;
    
    @include mq() {
        font-size: rem(12);
        line-height: calc(20 / 12);
        padding: rem(8) rem(11) rem(10);
    }
}