@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 960px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

@font-face { 
  font-family: "teko";
  src: url("/assets/font/teko-medium.ttf") format("truetype") 
}

@font-face { 
  font-family: "akshar";
  src: url("/assets/font/akshar-bold.ttf") format("truetype") 
}

$base-font-family: "Noto Sans", sans-serif;
$second-font-family: "teko";
$third-font-family: "akshar";


// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
// $regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$super-bold: 800;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black1: #111111;
$black2: #000000;
$black3: #707070;
$white: #fff;
$gray1: #F5F6F7;
$gray2: #F4F6F7;
$gray3: #DEDEDE;
$gray4: #CECDCD;
$gray5: #999999;
$gray6: #E8E8E8;
$red: #EB6100;
$green: #06C755;
$yellow1: #FDEA9B;
$yellow2: #FFB423;
$yellow3: #FE9247;
$yellow4: #FCE271;
$yellow5: #FDF6CB;
$yellow6: #FCD21C;
$border-gray: #AAAAAA;

body {
  font-family: $base-font-family;
}

main {
  flex: 1;
}

.main-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}