@use 'global' as *;

.always{

    @include mq() {
        margin-bottom: rem(30);
    }
}

.always__list{

    @include mq() {
        display: flex;
        flex-direction: column;
        gap: rem(35);
    }
}

.always__item{
    height: rem(600);
    position: relative;

    @include mq() {
        display: flex;
        flex-direction: column-reverse;
        height: unset;
    }
}

.always__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    @include mq() {
        position: unset;
        margin-bottom: rem(20);
    }
}

.always__bg::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);

    @include mq() {
        display: none;
    }
}

.always__item:nth-of-type(2n) .always__bg img{
    
}

.always__item:nth-of-type(2n) .always__bg::before{
    background: linear-gradient(90deg, rgba(105, 54, 54, 0) 0%, rgba(255,255,255,0.9) 100%);
}

.always__bg img{
    height: 100%;
    object-fit: cover;

    @include mq() {
        height: auto;
    }
}

.always__inner{
    display: flex;
    align-items: center;
    height: 100%;

    @include mq() {
        flex-direction: column;
    }
}

.always__item:nth-of-type(2) .always__inner{
    flex-direction: row-reverse;

    @include mq() {
        flex-direction: column;
    }
}

.always__body{
    width: rem(450);
    margin-top: rem(50);

    @include mq() {
        width: 100%;
        margin-top: 0;
    }
}

.always__en{
    font-family: $second-font-family;
    font-size: rem(50);
    letter-spacing: 0.08em;
    line-height: 1;
    font-weight: $medium;
    color: $red;
    margin-bottom: rem(10);

    @include mq() {
        font-size: rem(32);
        letter-spacing: 0.056em;
        margin-bottom: rem(12);
    }
}

.always__catch{
    font-size: rem(22);
    line-height: 1.8;
    font-weight: $bold;
    margin-bottom: rem(30);

    @include mq() {
        font-size: rem(15);
        margin-bottom: rem(15);
    }
}

.always__desc{
    font-size: rem(18);
    line-height: 2;
    font-weight: $medium;

    @include mq() {
        font-size: rem(14);
    }
}
