@use 'global' as *;

.carinfo{

    @include mq() {

    }
}

.carinfo__title{
    font-size: rem(20);
    font-weight: $semi-bold;
    padding: 0 0 rem(11) rem(8);
    border-bottom: rem(1) solid $black3;
    position: relative;
    margin-top: rem(35);
    margin-bottom: rem(30);
}

.carinfo__title::before{
    content: "";
    width: rem(100);
    height: rem(3);
    background: $red;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
}

.carinfo__detail{
    margin-bottom: rem(60);
}