@use 'global' as *;

.commitone {
    margin-bottom: rem(54);

    @include mq() {
        
    }
}

.inner.commitone__inner{
    max-width: rem(930);

    @include mq() {
        max-width: rem(600);
    }
}

.commitone__top{
    margin-top: rem(67);
    margin-bottom: rem(100);

    @include mq() {
        margin-top: rem(50);
        margin-bottom: rem(50);
    }
}


.commitone__body{
    margin-top: rem(60);

    @include mq() {
        margin-top: rem(40);
    }
}

.commitone__system{
    margin-top: rem(100);

    @include mq() {
        margin-top: rem(40);
    }
}


.commitone__case{
    margin-top: rem(95);

    @include mq() {
        margin-top: rem(26);
    }
}

.commitone__original{
    margin-top: rem(90);

    @include mq() {
        margin-top: rem(40);
    }
}