@use 'global' as *;

.contact{
    padding-bottom: rem(186);
    border-bottom: rem(1) solid $black3;

    @include mq() {
        padding-bottom: rem(70);
    }
}

.inner.contact__inner{
    max-width: rem(930);

    @include mq() {
        max-width: rem(600);
        padding-left: rem(30);
        padding-right: rem(30);
    }
}

.contact__top{
    margin-top: rem(67);
    margin-bottom: rem(100);

    @include mq() {
        margin-top: rem(45);
        margin-bottom: rem(50);
    }
}

.contact__mail{
    margin-top: rem(109);

    @include mq() {
        margin-top: rem(68);
    }
}

.contact__list{
    display: flex;
    flex-direction: column;
    gap: rem(36);
    margin-bottom: rem(80);

    @include mq() {
        gap: rem(26);
        margin-bottom: rem(25);
    }
}

.contact__label{
    height: rem(20);
    display: flex;
    align-items: center;
    margin-bottom: rem(10);
    position: relative;

    @include mq() {
        height: rem(15);
        margin-bottom: rem(7.5);
    }
}

.contact__label label{
    font-size: rem(16);
    line-height: 1;
    font-weight: $bold;
    padding-left: rem(66);

    @include mq() {
        font-size: rem(12);
        padding-left: rem(50);
    }
}

.contact__label--must::before{
    content: "必須";
    font-size: rem(14);
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: $semi-bold;
    color: $white;
    padding: rem(3) rem(10);
    background: $yellow3;
    position: absolute;
    top: 0;
    left: 0;

    @include mq() {
        font-size: rem(10);
        letter-spacing: 0.1em;
        padding: rem(2.5) rem(8);
    }
}

.contact__select{
    position: relative;
}

.contact__select::before{
    content: "";
    background: transparent url(../images/common/ico-arrow_select.svg) no-repeat center center / cover;
    height: rem(11);
    width: rem(15);
    position: absolute;
    right: rem(29);
    top: 50%;
    transform: translateY(-50%);

    @include mq() {
        right: rem(20);
        height: rem(6);
        width: rem(8);
    }
}

.contact__calender{
    position: relative;
}

.contact__calender::before{
    content: "";
    background: transparent url(../images/common/ico-calender.svg) no-repeat center center / cover;
    height: rem(23);
    width: rem(23.5);
    position: absolute;
    right: rem(25);
    top: 50%;
    transform: translateY(-50%);

    @include mq() {
        right: rem(18);
        height: rem(13.5);
        width: rem(13);
    }
}

.contact__input input,
.contact__input textarea,
.contact__select select{
    font-size: rem(16);
    line-height: 1.5;
    font-weight: $semi-bold;
    width: 100%;
    border: rem(1) solid $gray4;
    padding: rem(16);

    @include mq() {
        font-size: rem(12);
        padding: rem(16) rem(15);
    }
}

.contact__input input::placeholder,
.contact__input textarea::placeholder,
.contact__select select option:first-child,
.contact__select select:invalid{
    color: $gray4;
}


.contact__note{
    font-size: rem(16);
    line-height: 1;
    font-weight: $medium;
    margin-bottom: rem(24);

    @include mq() {
        font-size: rem(12);
        line-height: 1.6;
        margin-bottom: rem(12);
    }
}

.contact__note a{
    color: $blue;
}

.contact__agreement{
    padding: rem(19) rem(20);
    background-color: $gray1;

    @include mq() {
        padding: rem(14) rem(15);
    }
}

.contact__agreement input[type=checkbox]{
    display: block;
    position: absolute;
    opacity: 0;
    width: rem(22);
    height: rem(22);
    margin: 0;

    @include mq() {
        width: rem(16);
        height: rem(16);
    }
}

.contact__agreement label{
    font-size: rem(18);
    line-height: 1;
    font-weight: $semi-bold;
    display: flex;
    align-items: center;
    position: relative;

    @include mq() {
        font-size: rem(12);
    }
}

.contact__agreement label::before{
    content: "";
    width: rem(22);
    height: rem(22);
    border: rem(1) solid $black3;
    background: $white;
    margin-right: rem(28);
    display: block;   
    
    @include mq() {
        width: rem(16);
        height: rem(16);
        margin-right: rem(20);
    }
}

.contact__agreement label::after{
    content: "";
    width: rem(10);
    height: rem(14);
    border-right: rem(3) solid $yellow3;
    border-bottom: rem(3) solid $yellow3;
    position: absolute;
    left: rem(6);
    top: rem(2);
    transform: rotate(45deg);
    opacity: 0;

    @include mq() {
        width: rem(6);
        height: rem(10);
    }
}

.contact__agreement input[type=checkbox]:checked + label::after {
    opacity: 1;
}

.contact__btn {
    padding: rem(27.5) rem(16);
    display: block;
    border-radius: rem(40);
    background-color: $gray1;
    position: relative;
    transition: all .3s ease 0s;
    cursor: pointer;
    max-width: rem(400);
    margin: rem(120) auto 0;

    @include mq() {
        padding: rem(12);
        margin-top: rem(30);
    }
}

.contact__btn::before,
.contact__btn::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.contact__btn::before {
    width: rem(42.5);
    height: rem(42.5);
    background-color: $red;
    border-radius: 50%;
    right: rem(16);

    @include mq() {
        right: rem(10);
        width: rem(23);
        height: rem(23);
    }
}
.contact__btn::after {
    background: transparent url(../images/common/ico-arrow.svg) no-repeat center center / cover;
    width: rem(26);
    height: rem(26);
    right: rem(24.5);

    @include mq() {
        right: rem(15);
        width: rem(14);
        height: rem(14);
    }
}

.contact__btn span {
    display: block;
    color: $black1;
    font-size: rem(20);
    font-weight: $bold;
    text-align: center;

    @include mq() {
        font-size: rem(16);
    }
}