@use 'global' as *;

.cta{
    color: $white;
    padding: rem(40) 0 rem(50);
    position: relative;

    @include mq() {
        padding: rem(25) 0 rem(35);
    }
}

.cta__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.cta__inner{

    @include mq() {
        padding-left: rem(12);
        padding-right: rem(12);
    }
}

.cta__bg img{
    height: 100%;
    object-fit: cover;
}


.cta__body{
    display: flex;
    justify-content: space-between;
    margin-top: rem(50);
    gap: rem(52);

    @include mq() {
        flex-direction: column;
        margin-top: rem(30);
        gap: rem(10);
    }
}

.cta__box{
    padding: rem(20);
    width: calc((100% - rem(52) / 2));
    border: rem(1) solid $white;
    position: relative;

    @include mq() {
        width: 100%;
        padding: rem(15);
    }
}

.cta__box::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $gray7;
    mix-blend-mode: multiply; 
}

.cta__title{
    font-size: rem(24);
    line-height: 1;
    font-weight: $bold;
    text-align: center;
    margin-bottom: rem(12);

    @include mq() {
        font-size: rem(18);
        margin-bottom: rem(10);
    }
}

.cta__desc{
    font-size: rem(18);
    line-height: 1.4;
    font-weight: $bold;
    text-align: center;

    @include mq() {
        font-size: rem(12);
    }
}

.cta__line{
    height: 100;
    position: relative;
}

.cta__lineBox{
    display: flex;
    align-items: center;
    padding: rem(20);
    background-color: $white;
    margin-top: rem(20);
}

.cta__lineIcon{
    width: rem(64);
    margin-right: rem(18);
    margin-left: rem(27);
}

.cta__lineText{
    font-size: rem(16);
    line-height: 1.4;
    font-weight: $bold;
    color: $black1;
}

.cta__lineQr{
    width: rem(80);
    margin-left: auto;
}

.cta__lineBtn{

    @include mq() {
        max-width: rem(390);
        height: rem(60);
        border-radius: rem(30);
        display: flex;
        align-items: center;
        justify-content: center;
        background: $green;
        position: relative;
        margin: rem(16) auto 0;
    }
}

.cta__lineBtn::before{

    @include mq() {
        content: "";
        background: transparent url(../images/common/ico-line.svg) no-repeat center center / contain;
        width: rem(58);
        height: rem(58);
        border-radius: rem(58);
        position: absolute;
        top: 50%;
        left: rem(4);
        transform: translateY(-50%);
    }
}

.cta__lineBtn span{

    @include mq() {
        font-size: rem(14);
        line-height: 1.4;
        font-weight: $bold;
        color: $white;
        transform: translateX(10%);
    }
}



.cta__tel-mail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.cta__tel{
    padding-bottom: rem(12);
    border-bottom: rem(1) solid $white;
}

.cta__mail{

    @include mq() {
        padding-top: rem(10);
    }
}

.cta__mailBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: rem(300);
    height: rem(50);
    border-radius: rem(50);
    background-color: $red;
    margin: 0 auto;

}

.cta__mailBtn::before{
    content: "";
    width: rem(32);
    height: rem(24);
    background: transparent url(../images/common/ico-mail.svg) no-repeat center center / contain;
    margin-right: rem(10);

    @include mq() {
        width: rem(24);
        height: rem(18);
    }
}

.cta__mailBtn span{
    font-size: rem(16);
    line-height: 1;
    font-weight: $bold;

    @include mq() {
        font-size: rem(12);
    }
}