@use 'global' as *;

.feature__list {
    display: flex;
    gap: rem(21);

    @include mq() {
        flex-direction: column;
        gap: rem(14);
        margin-left: rem(16);
        margin-right: rem(16);
    }
}

.feature__item{
    width: calc((100% - rem(21) * 2) / 3);
    position: relative;

    @include mq() {
        width: 100%;
    }
}

.feature__item::before{
    content: "";
    width: calc(100% - rem(4));
    height: calc(100% - rem(4));
    background: linear-gradient(135deg, transparent rem(55), $white 0) top left;
    background-size: 100% 100%;
    position: absolute;
    top: rem(2);
    left: rem(2);
    z-index: 1;

    @include mq() {
        background: linear-gradient(135deg, transparent rem(35), $white 0) top left;
    }
}

.feature__item::after{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, transparent rem(55.5), $yellow2 0) top left;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    @include mq() {
        background: linear-gradient(135deg, transparent rem(35.5), $yellow2 0) top left;
    }
}

.feature__inner{
    position: relative;
    z-index: 2;
    padding: rem(56) rem(32) rem(32);

    @include mq() {
        padding: rem(22) rem(18) rem(14);
    }
}

.feature__num{
    font-family: $third-font-family;
    font-size: rem(50);
    line-height: 1;
    font-weight: $bold;
    color: $yellow2;
    position: absolute;
    top: rem(-4);
    left: 0;

    @include mq() {
        font-size: rem(33);
        left: rem(4);
    }
}

.feature__title{
    font-size: rem(22);
    line-height: 1;
    font-weight: $super-bold;
    text-align: center;
    color: $yellow3;
    margin-bottom: rem(18);

    @include mq() {
        font-size: rem(18);
        margin-bottom: rem(15);
    }
}

.feature__desc{
    font-size: rem(18);
    line-height: 1.6;
    font-weight: $medium;

    @include mq() {
        font-size: rem(14);
    }
}