@use 'global' as *;

.footer{
    padding-top: rem(20);
    padding-bottom: rem(65);

    @include mq() {
        padding-top: rem(26);
        padding-bottom: rem(0);
    }
}

.footer__inner{
    position: relative;
}

.footer__character{
    width: rem(212);
    position: absolute;
    top: rem(100);
    right: 0;

    @include mq() {
        width: rem(129);
        top: rem(-10);
        right: rem(16);
    }
}

.footer__top{
    display: flex;
    align-items: center;
    margin-bottom: rem(34);

    @include mq() {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: rem(42);
    }
}

.footer__logo{
    width: rem(168);
    margin-right: rem(29);

    @include mq() {
        width: rem(126);
        margin: 0 0 rem(3);
    }
}

.footer__company{
    font-size: rem(20);
    line-height: 1;
    font-weight: $bold;
    color: $gray5;

    @include mq() {
        font-size: rem(16);
    }
}

.footer__middle{
    display: flex;
    gap: rem(40);
    margin-bottom: rem(56);

    @include mq() {
        flex-wrap: wrap;
        margin-bottom: rem(32);
    }
}

.footer__left,
.footer__right{
    display: flex;
    gap: rem(40);

    @include mq() {
        flex-direction: column;
    }
}

.footer__navList{
    display: flex;
    flex-direction: column;
    gap: rem(30);

    @include mq() {
        gap: rem(20);
    }
}

.footer__navItem{
    font-size: rem(16);
    line-height: 1.75;
    font-weight: $bold;

    @include mq() {
        font-size: rem(12);
        line-height: 1.66;
        padding-left: rem(16);
        position: relative;
    }
}

.footer__navItem::before{

    @include mq() {
        content: "";
        width: rem(13);
        height: rem(13);
        display: block;
        background: transparent url(../images/common/ico-arrow_right1.svg) no-repeat center center / contain;
        position: absolute;
        top: rem(3.5);
        left: 0;
    }
}

.footer__navAbout,
.footer__navRecruit{

    @include mq() {
        margin-top: rem(-15);
    }
}

.footer__navList2{
    display: flex;
    flex-direction: column;

    @include mq() {
        margin-top: rem(5);
    }
}

.footer__navItem2{
    font-size: rem(14);
    line-height: 2;
    font-weight: $bold;
    color: $gray5;
    position: relative;

    @include mq() {
        font-size: rem(10);
        padding-left: rem(10);
    }
}

.footer__navItem2::before{

    @include mq() {
        content: "";
        width: rem(5);
        height: rem(10);
        display: block;
        background: transparent url(../images/common/ico-arrow_right2.svg) no-repeat center center / contain;
        position: absolute;
        top: rem(5);
        left: 0;
    }
}

.footer__bottom{
    display: flex;
    align-items: center;
    position: relative;

    @include mq() {
        flex-direction: column-reverse;
        margin-left: rem(-20);
        margin-right: rem(-20);
    }
}

.footer__bottom span{
    width: rem(1);
    height: rem(13);
    display: block;
    background-color: $black3;
    margin: 0 rem(6);

    @include mq() {
        width: 100%;
        height: rem(1);
    }
}

.footer__copyright{
    font-size: rem(12);
    line-height: 1;
    font-weight: $medium;
    position: relative;

    @include mq() {
        font-size: rem(10);
        text-align: center;
        padding: rem(8) 0 rem(10);
    }
}

.footer__privacy{
    font-size: rem(12);
    line-height: 1;
    font-weight: $medium;

    @include mq() {
        line-height: 1.1;
        text-align: center;
        margin-bottom: rem(10);
        padding: 0 rem(5);
        border-left: rem(1) solid $black3;
        border-right: rem(1) solid $black3;
    }
}