@use 'global' as *;


.form__title{
    font-size: rem(16);
    font-weight: $bold;
    color: #fff;
    background: $yellow2;
    padding: rem(12) 0 rem(12) rem(30);
    margin-bottom: rem(25);
}

.form__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(104);
    row-gap: rem(25);
    margin-bottom: rem(30);

    @include mq() {
        column-gap: 0;
        flex-direction: column;
        row-gap: rem(21);
        margin: 0 rem(10) rem(30);
    }
}

.form__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc((100% - rem(104)) / 2);

    @include mq() {
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
    }
}

.form__label{
    font-size: rem(16);
    font-weight: $bold;

    @include mq() {
        font-size: rem(14);
        margin-bottom: rem(7);
    }
}

.form__input {
    width: rem(300);
    display: flex;
    align-items: center;

    @include mq() {
        width: 100%;
    }
}
.form__input span{
    margin: 0 rem(7);
}

.form__select{
    width: 100%;
    position: relative;
}

.form__select::before {
    content: "";
    background: transparent url(../images/common/ico-arrow_select.svg) no-repeat center center / cover;
    height: rem(11);
    width: rem(14);
    position: absolute;
    right: rem(19);
    top: 50%;
    transform: translateY(-50%);

    @include mq() {
        right: rem(16);
        height: rem(9);
        width: rem(12);
    }
}
.form__select select{
    width: 100%;
    background: $gray2;
    padding: rem(12) rem(19);

    @include mq() {
        padding: rem(10) rem(16);
    }
}

.form__bottom{
    max-width: rem(600);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.form__btn{
    width: 100%;
    height: rem(60);
    border-radius: rem(30);
    background: $yellow3;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(11.5);

    @include mq() {
        height: rem(50);
        margin-bottom: rem(19);
    }
}

.form__btn::before{
    content: "";
    background: transparent url(../images/common/ico-search.svg) no-repeat center center / cover;
    height: rem(29);
    width: rem(29);

    @include mq() {
        height: rem(25);
        width: rem(25);
    }
}

.form__btn span{
    font-size: rem(16);
    font-weight: $bold;
    color: $white;
    margin-left: rem(8);

    @include mq() {
        margin-left: rem(10);
    }
}

.form__reset{
    display: inline-flex;
    align-items: center;
    text-align: center;
    
    @include mq() {
        width: 100%;
        height: rem(40);
        border-radius: rem(30);
        border: rem(1) solid $black2;
        justify-content: center;
    }
}

.form__reset::before{
    content: "×";
    font-size: rem(25);
    font-weight: $medium;
    line-height: 1;
    color: $border-gray;

    @include mq() {
        font-size: rem(42);
    }
}

.form__reset span{
    font-size: rem(16);
    font-weight: $bold;
    color: $border-gray;
    margin-left: rem(16);

    @include mq() {
        font-size: rem(12);
    }
}