@use 'global' as *;

.hows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: rem(24);
    
    @include mq() {
        column-gap: 0;
        flex-direction: column;
        row-gap: rem(30);
    }
}

//スマホ時の最大幅はその際の親要素につける。
.hows__item {
    width: calc((100% - rem(24) * 3) / 4);

    @include mq() {
        width: 100%;
    }
}