@use 'global' as *;

.inspection {
    

    @include mq() {
        
    }
}

.inner.inspection__inner{
    max-width: rem(930);

    @include mq() {
        max-width: rem(600);
        padding-left: rem(30);
        padding-right: rem(30);
    }
}

.inspection__top{
    margin-top: rem(67);
    margin-bottom: rem(100);

    @include mq() {
        margin-top: rem(45);
        margin-bottom: rem(30);
    }
}

.inspection__body{
    margin-top: rem(60);

    @include mq() {
        margin-top: rem(40);
    }
}

.inspection__feature{
    margin-top: rem(120);

    @include mq() {
        margin-top: rem(60);
    }
}

.inspection__cost{
    margin-top: rem(90);

    @include mq() {
        margin-top: rem(60);
    }
}

.inspection__flow{
    margin-top: rem(90);

    @include mq() {
        margin-top: rem(60);
    }
}

.inspection__qa{
    margin-top: rem(120);

    @include mq() {
        margin-top: rem(60);
    }
    
}