@use 'global' as *;



.original__list {
    display: flex;
    flex-direction: column;
    gap: rem(40);

    @include mq() {
        
    }
}

.original__item{
    display: flex;
    align-items: center;

    @include mq() {
        flex-direction: column-reverse;
    }
}

.original__item:nth-of-type(2n){
    flex-direction: row-reverse;

    @include mq() {
        flex-direction: column-reverse;
    }
}

.original__txt{
    width: calc((406 / 880) * 100%);

    @include mq() {
        width: 100%;
    }
}

.original__catch{
    font-size: rem(22);
    line-height: 1.6;
    font-weight: $bold;
    margin-bottom: rem(10);

    @include mq() {
        font-size: rem(14);
    }
}

.original__desc{
    font-size: rem(18);
    line-height: 2;
    font-weight: $medium;

    @include mq() {
        font-size: rem(12);
    }
}

.original__img{
    margin: 0 auto;

    @include mq() {
        margin: 0 auto rem(15);
    }
}

.original__item:nth-of-type(1) .original__img{
    width: calc((480 / 880) * 100%);
    margin-right: rem(-40);

    @include mq() {
        width: calc((260 / 280) * 100%);
        margin-right: auto;
    }
}

.original__item:nth-of-type(2) .original__img{
    width: calc((306 / 880) * 100%);

    @include mq() {
        width: calc((215 / 280) * 100%);
    }
}

.original__item:nth-of-type(3) .original__img{
    width: calc((404 / 880) * 100%);

    @include mq() {
        width: calc((256 / 280) * 100%);
    }
}