@use 'global' as *;

.page-title2__en {
    font-family: $second-font-family;
    text-align: center;
    font-size: rem(70);
    line-height: 1;
    font-weight: $medium;
    letter-spacing: .08em;

    @include mq() {
        font-size: rem(38);
        letter-spacing: .056em;
        
    }
}

.page-title2__jp {
    text-align: center;
    font-size: rem(26);
    line-height: 1;
    font-weight: $super-bold;
    letter-spacing: .08em;
    margin-top: rem(5);

    @include mq() {
        font-size: rem(18);
        letter-spacing: .056em;
        margin-top: rem(2);
    }
}