@use 'global' as *;



.pros-cons__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(78);

    @include mq() {
        flex-direction: column-reverse;
        margin-bottom: rem(30);
    }
}

.pros-cons__item{
    font-size: rem(20);
    line-height: 2;
    font-weight: $medium;
    padding-left: rem(40);
    position: relative;

    @include mq() {
        font-size: rem(14);
        padding-left: rem(27);
    }
}

.pros-cons__item::before{
    content: "";
    width: rem(25);
    height: rem(25);
    border: rem(2) solid $black2;
    position: absolute;
    left: 0;
    top: rem(7.5);

    @include mq() {
        width: rem(17);
        height: rem(17);
        top: rem(5.5);
    }
}

.pros-cons__txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq() {
        margin: 0 auto;
    }
}

.pros-cons__pros{
    margin-top: rem(20);
    position: relative;

    @include mq() {
        margin-top: rem(0);
        margin-bottom: rem(40);
    }
}

.pros-cons__cons{
    position: relative;
}

.pros-cons__pros::after,
.pros-cons__cons::after{
    content: "";
    width: rem(216);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include mq() {
        width: rem(151);
    }
}

.pros-cons__pros::after{
    height: rem(216);
    background: transparent url(../images/unused/pros.svg) no-repeat center center / cover;

    @include mq() {
        height: rem(151);
    }
}

.pros-cons__cons::after{
    height: rem(185);
    background: transparent url(../images/unused/cons.svg) no-repeat center center / cover;

    @include mq() {
        height: rem(130);
    }
}


.pros-cons__img{
    width: calc((467 / 880) * 100%);

    @include mq() {
        width: 100%;
        margin-bottom: rem(36);
    }
}


.pros-cons__desc{
    font-size: rem(16);
    line-height: 1.6;
    font-weight: $medium;

    @include mq() {
        font-size: rem(12);
        
    }
}