@use 'global' as *;

.qa {
    background-color: $yellow2;
    padding-bottom: rem(60);
    
    @include mq() {
        padding-bottom: rem(20);
    }
}

.qa__body {
    margin-top: rem(44);
    background-color: $white;
    padding: rem(50);
    
    @include mq() {
        margin: rem(26) auto 0;
        max-width: rem(600);
        padding: rem(10);
    }
}