@use 'global' as *;


.search{
    margin-top: rem(67);
    margin-bottom: rem(100);

    @include mq() {
        margin-top: rem(45);
        margin-bottom: rem(75);    
    }
}

.search__top{
    padding-bottom: rem(25);
    border-bottom: rem(1) solid $border-gray;

    @include mq() {
        padding-bottom: rem(30);
    }
}

.search__form{
    margin-top: rem(120);

    @include mq() {
        margin-top: rem(30);
    }
}
