@use 'global' as *;

.soubi{
    display: flex;
    flex-wrap: wrap;
    border-left: rem(1) solid $border-gray;
    border-top: rem(1) solid $border-gray;

    @include mq() {

    }
}

.soubi__item{
    width: calc(100% / 4);
    border-right: rem(1) solid $border-gray;
    border-bottom: rem(1) solid $border-gray;
    display: flex;

    @include mq() {
        width: calc(100% / 1);
    }
}


.soubi__item p{
    font-size: rem(16);
    line-height: 1;
    font-weight: $semi-bold;
    padding: rem(12) 0 rem(12) rem(15);
}
