@use 'global' as *;

.stock-btn {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: $red;
    //ボタン
    border-radius: rem(25);
    padding: rem(12) rem(18) rem(14);
    //テキスト
    text-align: center;
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    transition: all .3s ease 0s;
    cursor: pointer;
    
    @include mq() {
        font-size: rem(14);
        padding: rem(10) rem(15) rem(11);
    }
}

.stock-btn span {
    margin-left: rem(18);

    @include mq() {
        margin-left: rem(17);
    }
}

.stock-btn:hover {

}

.stock-btn::before {
    content: "";
    background: transparent url(../images/common/ico-mail.svg) no-repeat center center / cover;
    height: rem(23);
    width: rem(32);
    position: absolute;
    left: rem(18);
    top: 50%;
    transform: translateY(-50%);

    @include mq() {
        width: rem(28);
        height: rem(21);
        left: rem(15);
    }
}