@use 'global' as *;

.unused {
    

    @include mq() {
        
    }
}

.inner.unused__inner{
    max-width: rem(930);

    @include mq() {
        max-width: rem(600);
    }
}

.unused__top{
    margin-top: rem(67);
    margin-bottom: rem(100);

    @include mq() {
        margin-top: rem(45);
        margin-bottom: rem(30);
    }
}

.unused__body{
    margin-top: rem(60);

    @include mq() {
        margin-top: rem(40);
    }
}

.unused__pros-cons{
    margin-top: rem(160);

    @include mq() {
        margin-top: rem(90);
    }
}

.unused__flow{
    margin-top: rem(120);

    @include mq() {
        margin-top: rem(50);
    }
}

.unused__qa{
    margin-top: rem(120);

    @include mq() {
        margin-top: rem(60);
    }
    
}