@use 'global' as *;

.whatis{
    
}

.whatis__desc{
    font-size: rem(20);
    font-weight: $semi-bold;
    line-height: 2;
    letter-spacing: -0.03em;

    @include mq() {
        font-size: rem(14);
        margin-left: rem(13);
        margin-right: rem(13);
    }
}

.whatis__desc sup{
    font-size: rem(12);

    @include mq() {
        font-size: rem(10);
    }
}

.whatis__desc .red{
    color: $red;
}

.whatis__chigai{
    border: rem(2) solid $yellow2;
    margin-top: rem(35);
    margin-bottom: rem(100);

    @include mq() {
        margin-top: rem(15);
        margin-bottom: rem(60);
        margin-left: rem(13);
        margin-right: rem(13);
    }
}

.whatis__chigai dt{
    font-size: rem(22);
    font-weight: $bold;
    line-height: 1;
    text-align: center;
    color: $white;
    padding: rem(6);
    background-color: $yellow2;

    @include mq() {
        font-size: rem(14);
    }
}

.whatis__chigai dd{
    font-size: rem(18);
    font-weight: $medium;
    line-height: 1.6;
    padding: rem(20) rem(30);

    @include mq() {
        font-size: rem(12);
        padding: rem(11) rem(12) rem(13);
    }
}
